/* Estilos base del codificador creado en una resolución de 1366 x 768 px*/
*{
    padding: 0%;
    margin: 0%;
}
html, body{
    background-color: #F3F5FC;
    height: 100%;
}
/* División de la página usando Flexbox para crear 3 filas/columnas según sea la resolución del dispositivo */
/* Primera fila/columna, ubicada en el lado izquierdo, su única función es contener al logotipo de Alura */
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
}
/* Segunda fila/columna, ubicada en el lado central de la página, su función es contener al textarea, la advertencia y los botones para codificar y decodificar */
.flex-item-left{
    width: 5%;
    height: 100%;
}
/* Segunda fila/columna, ubicada en el lado central de la página, su función es contener al textarea, la advertencia y los botones para codificar y decodificar */
.flex-item-center{
    width: 50%;
    height: 100%;
    display: block;
    align-content: space-between;
}
/* Tercer y última fila/columna, ubicada en el lado derecho de la página, su función es contener al párrafo donde se mostrará el mensaje codificado y una imagen decorativa */
.flex-item-right{
    width: 35%;
    height: 100%;
}
/* Logotipo de Alura, ubicado en la primera fila/columna del flexbox */
.alura-logo{
    max-width: 31px;
    max-height: 48px;
    margin-left: 5%;
    margin-top: 5%;
}
/* División en 3 de la fila/columna central */
/* Primera división de la fila/columna central, contiene al textarea donde el usuario introducirá su mensaje */
.textarea-div{
    height: 66%;
    margin-bottom: 4%;
}
/* Segunda división de la fila/columna central, contiene una imagen y texto de advertencia */
.advertencia-div{
    height: 5%;
    display:inline-flex;
    width: 100%;
}/* Tercer y ultima división de la fila/columna central, contiene el área donde se mostrara el mensaje codificado y una imagen decorativa */
.button-div{
    height: 5%;
    display: flex;
    justify-content: space-between;
}
/* Textarea en donde el usuario ingresara su mensaje a codificar */
textarea{
    position: relative;
    width:100%;
    height: 95%;
    margin-top: 5%;
    max-width:auto;
    border: none;
    border-bottom: 2px solid #0A3871;
    background: none;
    font-size: 30px;
    color: #0A3871;
    caret-color: #0A3871;
    font-family: 'Inter';
    font-style: normal;
}
/* Estilo para dar formato al placeholder del textarea */
::placeholder{
    color: #0A3871;
    text-align: center;
    font-size: 30px;
}
/* Estilo para volver transparente al placeholder cuando se de clic en el textarea */
textarea:focus::placeholder{
 color: transparent;
}
/* Estilo para quitar los bordes negros del textarea al dar clic al mismo */
textarea:focus{
    outline: none;
}
/* Estilo para definir el ancho del Scrollbar */
textarea::-webkit-scrollbar {
    width: 0.2em;
}
/* Estilo para definir el color de fondo del Scrollbar */
textarea::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #f4fcf3;
}
/* Estilo para redondear y dar un color especifico al Scrollbar */
textarea::-webkit-scrollbar-thumb{
    background: #0A3871;
    border-radius: 10px;
}
/* Imagen que complementa al mensaje de advertencia */
.img-advertencia{
    position: relative;
    max-width: 31px;
    max-height: 31px;
}
/* Mensaje de advertencia al usuario */
.advertencia{
    position: relative;
    margin-left: 2%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;
}
/* Boton azul con el cual el usuario hara que su mensaje sea codificado */
.boton-azul{
    background: #0A3871;
    position: relative;
    border: none;
    border-radius: 24px;
    width: 45%;
    height: 100%;
    color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}
/* Boton gris con el cual el usuario hara que su mensaje sea decodificado */
.boton-gris{
    background: #D8DFE8;
    position: relative;
    border: 1px solid #0A3871;
    border-radius: 24px;
    width: 45%;
    height: 100%;
    color: #0A3871;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}
/* Sección principal de la 3er fila/columna en donde se mostrara el mensaje codificado u decodificado */
.resultado{
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    height: 90%;
    width: 95%;
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Imagen decorativa que acompañara al mensaje codificado u decodificado */
.img-resultado{
    position: relative;
    width: 65%;
    height: 50%;
}
/* Adaptación de los estilos base para el diseño responsivo en una resolución de 720 a 912 px de ancho */
@media only screen
    and (min-device-width: 270px)
    and (max-device-width: 912px){
        .flex-container {
            display: flex;
            flex-direction: row;
            justify-content:stretch;
            flex-wrap: wrap;
            height: 100%;
        }
          
        .flex-item-left{
            width: 100%;
            height: max-content;
        }
        .flex-item-center{
            width: 100%;
            height: 45%;
            display: block;
            min-height: 500px;
        }
        .flex-item-right{
            width: 100%;
            height: 40%;
        }
        .alura-logo{
            max-width: 31px;
            max-height: 48px;
            margin-left: 2%;
            margin-top: 2%;
        }
        textarea{
            position: relative;
            width:100%;
            height: 92%;
            margin-top: 0%;
            margin-bottom: 2%;
            max-width:auto;
        }
        .textarea-div{
            height: 75%;
            margin-bottom: 1%;
        }
        .advertencia-div{
            height: 5%;
            display:inline-flex;
            width: 100%;
        }
        .button-div{
            height: 20%;
            display: block;
        }
        .boton-azul{
            position: relative;
            width: 100%;
            height: 45%;
            margin-bottom: 1%;
        }
        .boton-gris{
            position: relative;
            width: 100%;
            height: 45%;
        }
        .resultado{
            position: relative;
            background: #FFFFFF;
            box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
            border-radius: 32px;
            height: 100%;
            width: 100%;
            margin-top: 0%;
            margin-bottom: 0%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .img-resultado{
            position: relative;
            width: 35%;
            height: 35%;
        }
    }