/* Separacion de codigo */
/* Estilos base del codificador creado en una resolucion de 1366 x 768 px*/
html{
    background-color: #F3F5FC;
}
.logotipo{
    position: absolute;
    left: 2%;
    top: 3%;
}
.alura-logo{
    max-width: 31.085588455200195px;
    max-height: 48px;
}
textarea{
    position: absolute;
    top: 15%;
    left: 10%;
    border: none;
    border-bottom: 2px solid #0A3871;
    background: none;
    width: 350px;
    padding-top: 10px;
    font-size: 30px;
    color: #0A3871;
    caret-color: #0A3871;
    font-family: 'Inter';
    font-style: normal;
}
/* Estilo para dar formato al placeholder del textarea */
::placeholder{
    color: #0A3871;
    text-align: center;
    font-size: 30px;
}
/* Estilo para volver transparente al placeholder cuando se de clic en el textarea */
textarea:focus::placeholder{
 color: transparent;
}
/* Estilo para quitar los bordes negros del textarea al dar clic al mismo */
textarea:focus{
    outline: none;
}
/* Estilo para definir el ancho del Scrollbar */
textarea::-webkit-scrollbar {
    width: 0.2em;
}
/* Estilo para definir el color de fondo del Scrollbar */
textarea::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #f4fcf3;
}
/* Estilo para redondear y dar un color especifico al Scrollbar */
textarea::-webkit-scrollbar-thumb{
    background: #0A3871;
    border-radius: 10px;
}
.img-advertencia{
    position: absolute;
    bottom: 20%;
    left: 10%;
    max-width: 31.085588455200195px;
    max-height: 48px;
}
.label-advertencia{
    position: absolute;
    bottom: 20%;
    left: 13%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 12px;
    font-size: 17px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;
}
.boton-azul{
    background: #0A3871;
    position: absolute;
    bottom: 10%;
    left: 10%;
    width: 350px;
    height: 50px;
    border: none;
    border-radius: 24px;
    color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}
.boton-gris{
    background: #D8DFE8;
    position: absolute;
    bottom: 10%;
    left: 38%;
    width: 350px;
    height: 50px;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}
.resultado{
    position: absolute;
    width: 350px;
    height: 570px;
    right: 4%;
    top: 5%;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}
.img-resultado{
    position: relative;
    top: 25%;
    left: 0%;
}
/* Adaptacion de los estilos base para el diseño responsivo en una resolucion de 720 a 912 px de ancho */
@media only screen
    and (min-device-width: 720px)
    and (max-device-width: 912px){
        textarea{
        left: 5%;
        height: 600px;
    }
    .img-advertencia{
        left: 5%;
    }
    .label-advertencia{
        left: 10%;
    }
    .resultado{
        height: 75%;
        width: 280px;
        right: 4%;
    }
    .boton-azul{
        width: 300px;
        left: 5%;
    }
    .boton-gris{
        width: 300px;
        left: 53%;
    }
    .img-resultado{
        width:100%;
        max-width: fit-content;
        height: 300px;
        top: 40%;
    }
}
/* Adaptacion de los estilos base para el diseño responsivo en una resolucion de 912 a 1024 px de ancho */
@media only screen
    and (min-device-width: 912px)
    and (max-device-width: 1024px){
        textarea{
        left: 5%;
        height: 600px;
    }
    .img-advertencia{
        left: 5%;
    }
    .label-advertencia{
        left: 10%;
    }
    .resultado{
        height: 75%;
        width: 400px;
    }
    .boton-azul{
        width: 400px;
        left: 3%;
    }
    .boton-gris{
        width: 400px;
        left: 53%;
    }
    .img-resultado{
        width:400px;
        height: 400px;
        top: 40%;
    }
}
/* Adaptacion de los estilos base para el diseño responsivo en una resolucion de 1024 a 1280 px de ancho */
@media only screen
    and (min-device-width: 1024px)
    and (max-device-width: 1280px){
    textarea{
        left: 5%;
        height: 600px;
        width: 570px;
    }
    .resultado{
    height: 90%;
    }
    .boton-azul{
        width: 220px;
    }
    .boton-gris{
        width: 220px;
    }
    .img-resultado{
        top: 40%;
    }
}
/* Adaptacion de los estilos base para el diseño responsivo en una resolucion de 1280 a 1440 px de ancho */
@media only screen
    and (min-device-width: 1280px)
    and (max-device-width: 1440px){
    textarea{
    left: 5%;
    height: 600px;
    width: 700px;
    }
    .resultado{
    height: 90%;
    width: 400px;
    }
    .boton-azul{
        width: 300px;
    }
    .boton-gris{
        width: 300px;
    }
    .img-resultado{
        top: 40%;
    }
    .img-resultado{
        width:400px;
        height: 400px;
        top: 40%;
    }
}
/* Adaptacion de los estilos base para el diseño responsivo en una resolucion de 1400 a 1600 px de ancho */
@media only screen
    and (min-device-width: 1400px)
    and (max-device-width: 1600px){
    textarea{
    left: 5%;
    height: 600px;
    width: 800px;
    }
    .resultado{
    height: 90%;
    width: 400px;
    }
    .boton-azul{
        width: 350px;
    }
    .boton-gris{
        width: 350px;
    }
    .img-resultado{
        width:400px;
        height: 400px;
        top: 40%;
    }
}
/* Adaptacion de los estilos base para el diseño responsivo en una resolucion de 1600 px de ancho, *Incluye culquier resolucion superor* */
@media only screen
    and (min-device-width: 1600px){
    textarea{
    left: 5%;
    height: 600px;
    width: 1000px;
    }
    .resultado{
        height: 90%;
    }
    .boton-azul{
        width: 450px;
    }
    .boton-gris{
        width: 450px;
        left: 40%;
    }
    .img-resultado{
        top: 40%;
    }
}